* {
  box-sizing: border-box;
}

html,
body,
#root,
#root > div,
div[data-reactroot] {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size:  16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-dark {
  background-color: #000;
  color: #ddd;
}

.copy-body {
  height: 400px;
  padding-top: 110px;
  font-size: 1.2em;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.border {
  background-color: #000;
  color: #fff;
  padding: 20px 80px;
  margin: 10px;
}

.danger {
  color: red;
}
.noresize{
  resize: none;
}
