.footer {
  min-height: 75px;
  background: #000;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background: #000;
  height: 40px;
  text-align: center;
  color: #ddd
}
