.footer {
  min-height: 75px;
  background: yellowgreen;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: yellowgreen !important;
  height: 40px;
  text-align: center;
  color: black;
}
